<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>UIAppFonts</key>
        <array>
            <string>DMSans-Regular.ttf</string>
            <string>DMSans-Light.ttf</string>
            <string>DMSans-Medium.ttf</string>
            <string>DMSans-Bold.ttf</string>
            <string>InstrumentSans-Medium.ttf</string>
        </array>
        <key>NSCameraUsageDescription</key>
        <string>Приложению нужно разрешение для использования камеры для сканирования QR-кодов</string>
        <key>NSLocalNetworkUsageDescription</key>
        <string>Приложению нужен доступ к локальной сети для обнаружения и управления Hue Bridge</string>
        <key>NSBonjourServices</key>
        <array>
            <string>_hue._tcp</string>
            <string>_hue._tcp.</string>
            <string>_http._tcp</string>
            <string>_http._tcp.</string>
            <string>_bonjour._tcp</string>
            <string>_lnp._tcp.</string>
        </array>
        <key>UIRequiresPersistentWiFi</key>
        <true/>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
    </dict>
</plist>
